@font-face {
    font-family: 'pretendard';
    src: url('./assets/fonts/PretendardVariable.ttf') format('truetype');
}

html, body, #root {
    padding: 0px;
    margin: 0px;
    background-color: var(--mainBG);
    font-family: 'pretendard', sans-serif;
    width: 100%;
    height: 100%;
    display: inline;
    margin-top: 40px;
    overflow-x: hidden;
    transition : all 0.2s;
}

input {
    font-family: 'pretendard', sans-serif;
    outline: none;
    border-radius: 8px;
    border: 1px solid #e1e1e1;
    background-color: #F9F9F9;

}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}